body{
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
    background-image: linear-gradient(to bottom, #000000, #4e58df);
}

.box{
    position: relative;
    width: 300px;
    height: 420px;
    background-color: #72a5f11e;
    padding: 18px;
    transition: 0.3s;
    overflow: hidden;
    border-radius: 26px;
    margin-top: 80px;
    padding-top: 80px;
}

.box:hover{
    transform: translateY(-15px);
}

.box::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 560px;
    height: 50px;
    transform: rotate(-40deg) translateY(-100px);
    background: linear-gradient(to right, #6065c991, #bbbbbb);
}

.box:hover::after{
    animation: border-effect 1.2s ease;
}

@keyframes border-effect{
    0%{
        transform: rotate(-40deg) translateY(-100px);
    }
    100%{
        transform: rotate(-40deg) translateY(530PX);
    }
}


h1{
    color: rgb(3, 3, 3);
    font-family: initial;
    
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
    padding: 11px 10px;
}


.button{
    border-radius: 80px;
    background-image: linear-gradient( to bottom right, #4affde 0%, #1561d3 40%, #264bc4 60%);
    background-size: 100% 100%;
    animation: gradientEffect 6 s linear infinite alternate;
}