* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, sans-serif;
    color: white;
    background-image: url("https://images.unsplash.com/photo-1586528116311-ad8dd3c8310d");
    background-size: cover;
    background-position: center;
}

.titulo {
    font-size: 45px;
    margin-bottom: 30px;
    color: #01051a;
    text-align: center;
    padding: 15px 50px;
    border-radius: 15px;
    font-style: italic;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(0, 229, 255, 0.5);
    text-shadow: 
        0 0 5px #7ae0e4,
        0 0 10px #1aadad,
        2px 2px 10px black;
    box-shadow: 
        0 0 10px rgba(0, 89, 255, 0.4),
        0 0 20px rgba(0, 60, 255, 0.2);
}

.box {
    width: 350px;
    padding: 25px 30px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 400px;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(#00e5ff, #b0a0fb);
    animation: borda 5s linear infinite;
}

@keyframes borda {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }
    100% {
        transform: translateX(-50%) rotate(360deg);
    }
}

.box::after {
    content: '';
    position: absolute;
    inset: 3px;
    border-radius: 20px;
    background: #191919;
}

.box * {
    position: relative;
    z-index: 1;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.inputs label {
    font-size: 0.9rem;
}

.inputs input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #00e5ff;
    color: white;
    padding: 6px;
    font-size: 1rem;
}

.inputs input:focus {
    outline: none;
    box-shadow: 0 0 5px #00e5ff;
}

.button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border-radius: 30px;
    border: none;
    background: linear-gradient(90deg, #00e5ff, #b0a0fb);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    filter: brightness(1.1);
}

/* resultado */
.resultado {
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    background: rgba(0,0,0,0.5);
}